<!--
  Tailwind UI components require Tailwind CSS v1.8 and the @tailwindcss/ui plugin.
  Read the documentation to get started: https://tailwindui.com/documentation
-->
<script src="/js/css.js"></script> <!--stylesheet js file -->
<div class="login-container">
<div class="min-h-500 flex items-center justify-center bg-gray-50 py-5 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full">
    <div>
      <img class="mx-auto h-12 w-auto" src="img/logo.svg" alt="logo Image">
      <h2 class="sign-in-msg mt-6 text-center text-3xl leading-9 font-extrabold text-gray-900">
        Sign Up for an account
      </h2>
    </div>
    <form action="/register" method="POST">
      <div class="rounded-md shadow-sm">
        <div class ="auth-error"><%= messages.error %></div>
        <div>
          <input aria-label="name" name="name" type="text" value="<%=messages.name%>" required class="login-input appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5" placeholder="Name">
        </div>
        <div>
          <input aria-label="Email addres" name="email" type="email" value="<%=messages.email%>" required class="login-input appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5" placeholder="Email address">
        </div>
        <div class="-mt-px">
          <input aria-label="Password" name="password" type="password" required class="login-input appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5" placeholder="Password">
        </div>
      </div>

      <div class="mt-6">
        <button class="login-button">
          Sign Up
        </button>
      </div>
    <a style="margin:30px 0;display:inline-block;" class="forgot-pw" href="/login">Already have an account?</a>
    </form>

  </div>
</div>
</div>
